/* -------------------- Font -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* -------------------- Brand Colors -------------------- */
:root {
	--primary: #f2af29;
	--secondary: #26ab7a;
	--secondary2: #35c28e;
	--invalid: #363636;
	--black: #242424;
	--light: #fefefe;
}

/* -------------------- Body -------------------- */
body {
	font-family: "Poppins", sans-serif;
	background-color: var(--black);
	color: var(--black);
	/* background-image: url(assets/mariveles/mariveles_hero_bg.png); */
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: var(--light);
	border-radius: 10px;
}

.shadow-1 {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.header button {
	padding: 0.5rem 1rem;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: var(--primary);
}

.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 30px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-top: 1rem;
}

.day {
	text-align: center;
}

.dates {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 10px;
	text-align: center;
	justify-content: space-around;
}

.dates button {
	border: none;
	background-color: transparent;
	margin-right: auto;
}

.date {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 12px;
	margin-left: auto;
	cursor: pointer;
	font-weight: 600;
	border-radius: 50%;
	width: 40px;
}

.date .active {
	transition: background-color 0.3s ease-in;
}

.date:hover {
	background-color: var(--primary);
}

.inactive {
	opacity: 50%;
	cursor: not-allowed;
}

.time-slots {
	margin: 2rem 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;
	text-align: center;
}

.time {
	border-radius: 10px;
	padding: 0.35rem;
	font-size: 1.05rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	color: var(--light);
	border: none;
}

.time-open {
	background-color: var(--secondary);
	cursor: pointer;
}

.time-taken {
	background-color: var(--invalid);
	opacity: 30%;
	cursor: not-allowed;
}

.btn-blk {
	display: none;
	flex-direction: row;
	justify-content: center;
	margin-top: 3rem;
	gap: 12px;
}

.btn-blk button {
	width: 100%;
	border-radius: 10px;
	border: none;
	padding: 0.75rem;
	font-size: 1.25em;
	font-weight: 600;
	color: #ffffff;
}

.prev-btn {
	background-color: var(--black);
}

.next-btn {
	background-color: var(--primary);
}

.submit-btn {
	background: linear-gradient(
		90deg,
		rgba(38, 171, 122, 1) -50%,
		rgba(242, 175, 41, 1) 120%
	);
}
