/* -------------------- Font -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* -------------------- Brand Colors -------------------- */
:root {
	--primary: #f2af29;
	--secondary: #26ab7a;
	--invalid: #363636;
	--black: #242424;
	--light: #fefefe;
}

/* -------------------- Body -------------------- */
body {
	font-family: "Poppins", sans-serif;
	background-color: var(--light);
	color: var(--black);
	/* background-image: url(assets/mariveles/mariveles_hero_bg.png); */
	display: flex;
	margin: 1.5rem;
	flex-direction: column;
	justify-content: center;
}

.text-header {
	margin: auto 1rem;
}

.card {
	background-color: white;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	border-radius: 10px;
	padding: 2rem;
	width: 330px;
	margin: 3rem auto;
	animation: fade 250ms ease-in-out forwards;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
	gap: 0.25em;
}

.form-group:last-child {
	margin: 0;
}
/* 
.form-group > label {
	font-weight: bold;
	font-size: 0.8em;
	color: #333;
} */

.form-group > input {
	border: 1px solid #333;
	border-radius: 0.25em;
	font-size: 1rem;
	padding: 0.25em;
}

.step-title {
	margin: 0;
	margin-bottom: 1rem;
	text-align: center;
	font-weight: 600;
}

.card.active {
	animation: slide 250ms 125ms ease-in-out both;
}

/* .multi-step-form {
	overflow: hidden;
	position: re; */

.hide {
	display: none;
}

@keyframes slide {
	0% {
		transform: translateX(200%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fade {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	50% {
		transform: scale(0.75);
		opacity: 0;
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}

.instructions {
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 20px;
	margin: 1rem 0;
	text-align: center;
	align-items: center;
}

.instructions p {
	font-size: 0.85rem;
	align-self: center;
	margin-top: 1rem;
}

.step-title {
	font-size: 1.5rem;
}

.num-label {
	color: #ffffff;
	padding: 1rem 0.25rem;
	width: 70%;
	border-radius: 10px;
	margin: auto;
	background: rgb(38, 171, 122);
	background: linear-gradient(
		90deg,
		rgba(38, 171, 122, 1) -50%,
		rgba(242, 175, 41, 1) 120%
	);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

button {
	cursor: pointer;
}

.btn-comp {
	width: 100%;
	border-radius: 10px;
	border: none;
	padding: 1rem;
	background: rgb(38, 171, 122);
	background: linear-gradient(
		90deg,
		rgba(38, 171, 122, 1) -50%,
		rgba(242, 175, 41, 1) 120%
	);
	font-size: 1.5em;
	font-weight: 600;
	color: #ffffff;
}

.btn-blk {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3rem;
	gap: 12px;
}

.btn-blk button {
	width: 100%;
	border-radius: 10px;
	border: none;
	padding: 0.75rem;
	font-size: 1.25em;
	font-weight: 600;
	color: #ffffff;
}

.prev-btn {
	background-color: var(--black);
}

.next-btn {
	background-color: var(--primary);
}

.submit-btn {
	background: linear-gradient(
		90deg,
		rgba(38, 171, 122, 1) -50%,
		rgba(242, 175, 41, 1) 120%
	);
}

/* FORM & INPUTS */

.form-group label {
	font-size: 1rem;
	font-weight: 600;
	margin-top: 2rem;
	margin-bottom: 0.35rem;
}

.form-group input,
.form-group select {
	padding: 0.75rem;
	background-color: #e4e4e4;
	border: none;
	border-radius: 10px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-group select::after {
	padding-right: 30px;
}
::placeholder {
	font-size: 0.75rem;
}

.gradient-text {
	background: #26ab7a;
	background: linear-gradient(to right, #26ab7a 0%, #f2af29 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* CALENDAR */

.calendar {
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: var(--light);
	border-radius: 10px;
	margin-top: 1rem;
	margin-left: -1.15rem;
}

.shadow-1 {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.header button {
	padding: 0.5rem 1rem;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	background-color: var(--primary);
}

.days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 10px;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-top: 1rem;
}

.day {
	text-align: center;
}

.dates {
	display: grid;
	grid-template-columns: repeat(7, 10px);
	gap: 5px;
	text-align: center;
	justify-content: space-evenly;
	margin-left: -1.25rem;
}

.dates button {
	border: none;
	background-color: transparent;
	margin-right: auto;
}

.date {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 8px 12px;
	margin-left: auto;
	cursor: pointer;
	font-weight: 600;
	border-radius: 50%;
	width: 40px;
}

.date .active {
	transition: background-color 0.3s ease-in;
}

.date:hover {
	background-color: var(--primary);
}

.inactive {
	opacity: 50%;
	cursor: not-allowed;
}

.time-slots {
	margin: 2rem 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
	text-align: center;
}

.time {
	border-radius: 10px;
	padding: 0.35rem;
	font-size: 1.05rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	color: var(--light);
	border: none;
}

.time-open {
	background-color: var(--secondary);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.time-open:hover {
	background-color: #1e855f;
}

.time-taken {
	background-color: var(--invalid);
	opacity: 30%;
	cursor: not-allowed;
}

.cal-btn-blk {
	display: none;
	flex-direction: row;
	justify-content: center;
	margin-top: 3rem;
	gap: 12px;
}

.cal-btn-blk button {
	width: 100%;
	border-radius: 10px;
	border: none;
	padding: 0.75rem;
	font-size: 1.25em;
	font-weight: 600;
	color: #ffffff;
}

/* MODAL */

.modal {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(0, 0, 0, 0.7);
	display: block;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-card {
	padding: 2rem;
	width: 325px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--light);
	text-align: center;
	border-radius: 10px;
	font-weight: 400;
	font-size: 0.75rem;
}

.appt-details {
	margin: 2rem auto;
	font-size: 1.25rem;
	font-weight: 400;
	gap: 0;
	display: grid;
	grid-template-columns: 1;
	justify-content: space-around;
}

.appt-details .gradient-text {
	margin-bottom: -0.25rem;
}

.modal-btn-blk {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 3rem;
	gap: 12px;
}

.modal-btn-blk button {
	width: 100%;
	border-radius: 10px;
	border: none;
	padding: 0.75rem;
	font-size: 1.25em;
	font-weight: 600;
	color: #ffffff;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
	#navbar {
		margin: 2rem 5rem auto 5rem;
	}
	.text-header {
		margin: auto 5rem;
	}

	.card {
		box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
		width: 500px;
	}

	.calendar {
		width: 440px;
		padding: 10px;
		margin-left: -0.25rem;
	}

	.days {
		grid-template-columns: repeat(7, 1fr);
		gap: 10px;
	}

	.dates {
		grid-template-columns: repeat(7, 10px);
		gap: 10px;
		margin-left: -1.55rem;
	}

	.time-slots {
		grid-template-columns: repeat(3, 1fr);
	}

	.modal-card {
		width: 400px;
	}
}

@media screen and (min-width: 1000px) {
	.instructions {
		grid-template-columns: 150px auto;
	}

	.step-title {
		font-size: 2rem;
	}
	.instructions p {
		font-size: 1rem;
	}

	#navbar {
		margin: 2rem 6rem auto 6rem;
	}
	.text-header {
		margin: 2rem 8rem 0 8rem;
		font-size: 1.5rem;
	}

	.text-header h2 {
		font-size: 2.5rem;
	}

	.card {
		width: 650px;
	}

	.calendar {
		width: 550px;
		padding: 10px;
		margin-left: 1.25rem;
	}

	.days {
		grid-template-columns: repeat(7, 1fr);
		gap: 10px;
	}

	.dates {
		grid-template-columns: repeat(7, 10px);
		gap: 15px;
		margin-left: -1.55rem;
	}

	.time-slots {
		grid-template-columns: repeat(3, 1fr);
	}

	.modal-card {
		width: 600px;
		padding-top: 3rem;
	}

	.appt-details {
		margin: 2rem auto;
		font-size: 1.25rem;
		font-weight: 400;
		gap: 10px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-around;
	}
}
