/* -------------------- Font -------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* -------------------- Brand Colors -------------------- */
:root{
    --primary: #F2AF29;
    --secondary: #26AB7A;
    --black: #242424;
    --light: #fefefe;
}

/* -------------------- Body -------------------- */
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--light);
    color: var(--black);
    background-image: url(assets/mariveles/mariveles_hero_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* -------------------- Buttons -------------------- */
.btn{
    border-radius: 12px;
}
.btn-primary{
    background: rgb(38,171,122);
    background: linear-gradient(90deg, rgba(38,171,122,1) -50%, rgba(242,175,41,1) 120%);
    /* background-color: var(--primary); */
    border: none;
    color: var(--light);
    padding: 0.65rem 1.5rem;
    transition: all 0.5s ease;
}

.btn-primary:hover{
    transform: scale(1.05);
}

.btn-secondary{
    background-color: var(--light);
    border: none;
    color: var(--black);
    padding: 0.65rem 1.5rem;
    box-shadow:  1px 1px 7px var(--secondary),
                -1px -1px 7px var(--primary);
    transition: all 0.5s ease;
}

.btn-secondary:hover{
   transform: scale(1.05);
   background-color: var(--light);
   color: var(--black);
}

/* -------------------- Navigation Bar (Navbar) -------------------- */

.navbar{
    padding: 5rem 0 0 0;
}

.navbar a{
    margin: 0 15px 0 15px;
    font-size: 1.10rem;
}

.navbar-nav a{
    font-weight: 500;
}

.navbar-nav a:hover{
    color: var(--secondary);
}

.container{
    text-align: center;
}

.navbar-brand img{
    margin-top: 0.5rem;
}

/* -------------------- Hero -------------------- */

.hero {
    padding-top: 5rem;
}

.hero .container{
    padding: 0;
}

.image{
    margin-right: 1rem;
}

.image img{
    max-width: 100%;
    height: auto;
    transition: all 0.5s ease-in;
}

.image img:hover{
    transform: scale(1.05)
}

.text{
    text-align: left;
    margin-left: 2rem;
}

.text h1{
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 2.5rem;
    transition: all 0.5s ease-in-out;
}

.text h1:hover{
    transform: scale(1.05);
}

.text p{
    font-size: 1.25rem;
    font-weight: 400;
}

.buttons{
    text-align: left;
    margin-left: 1rem;
}

.buttons .btn{
    padding: 1.05rem 2rem;
    font-size: 1.10rem;
}

/* -------------------- News & Updates -------------------- */

.updates{
    padding: 7rem 0 5rem 0;
}

.text-header h2{
    font-size: 2.5rem;
    font-weight: 500;
}

.text-header p{
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.updates .first-row{
    padding-top: 3rem;
    margin-bottom: 3rem;
}


.updates .btn-secondary{
    padding: 1.05rem 1.85rem;
    font-size: 1.25rem;
    margin-top: 2rem;
}

.card{
    transition: all 0.5s ease;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
}

.card h3{
    font-size: 1.5rem;
}

.card h4{
    font-size: 1.25rem;
    opacity: 70%;
    margin-bottom: 0.5rem;
}

.card img{
    width: 100%;
    height: auto;
}

/* -------------------- Services -------------------- */

.services{
    padding: 7rem 0 5rem 0; 
}

#title{
    margin-bottom: 4rem;
}

.accordion{
    --bs-accordion-bg: 	#FFC107;
    --bs-accordion-btn-bg: 	#FFC107;
    --bs-accordion-btn-color: black;
    --bs-accordion-active-bg:  #198754;
    --bs-accordion-active-color: white;
    
  
    
}
/* -------------------- About Us -------------------- */

.aboutus{
    padding: 5rem 0 5rem 0;
    
}


#au-row{
    padding: 5rem;
    
}

#au-title{
    padding: 1rem 0 2rem 0;
}

.em-1{
    font-size: 3rem;
}

#au-row-2{
    padding: 8rem 0 3rem 0;
}

#au-row-3{
    padding: 3rem;
}

#au-row-4{
    padding: 3rem;
}
/* Footer */

.footer{
    padding: 4rem 0 3rem 0;
    background-color: var(--black);
    color: var(--light);
}

.footer .row{
    align-items: center;
    justify-content: center;
}

.footer img{
    margin-top: -0.5rem;
}

.footer h4{
    font-size: 1rem;
    font-weight: 400;
}

.footer-nav{
    line-height: 2.5rem;
    margin-top: 0.5rem;
}

.footer-nav a:hover, .footer-social a:hover{
    color: var(--primary);
}

.footer-social{
    line-height: 2.5rem;
    margin-top: 0.65rem;
}

.footer .copyright{
    margin-top: 4rem;
}

/* -------------------- Media Queries -------------------- */
@media (max-width: 1199px){
    /* ----------- Hero ----------- */   
   .hero .text h1{
    font-size: 2.5rem;
   }

   .hero .btn{
    margin-bottom: 1rem;
   }
}
@media (max-width: 991px){
 /* ----------- Nav Bar ----------- */   
    .navbar .navbar-brand img{
        margin-left: -1rem;
    }

 /* ----------- Hero ----------- */   
    .hero{
        margin-top: -4rem;
    }

    .hero .image{
        text-align: center;
    }

    .hero .text, .hero .buttons{
        text-align: center;
    }

    .hero .image img{
        margin: 2rem auto 0 0.5rem;
        display: block;
        
    }

    .hero .text p{
        margin: 1rem 2.25rem 2rem 2.25rem;
    }

/* ----------- Updates ----------- */

    .card{
        margin-bottom: 2rem;
    }

    .no-mb{
        margin-bottom: 0;
    }

    .sec-row{
        margin-top: -2.75rem;
    }

/* ----------- Footer ----------- */

    .footer-nav{
        margin-top: 5.5rem;
    }

    .footer-social{
        margin-top: 6.3rem;
    }
}

@media (max-width: 767px){

/* ----------- Hero ----------- */  
    .buttons a{
        margin-bottom: 1rem;
    }

/* ----------- Footer ----------- */ 
    .footer .navbar-brand img{
        display: block;
        margin: 1.5rem auto;
        
    }

    .company-details h4{
        text-align: center;
    }     

    .footer-nav ul, .footer-social ul{
        text-align: center;
        margin-top: 1.5rem;
    }
}

@media (max-width: 575px){

/* ----------- Hero ----------- */      
  .hero .text{
    padding-top: 2.05rem;
    padding-right: 0;
    margin: 0;
  }

  section.hero .row{
    margin: 0;
    padding: 0;
  }

  section.hero .buttons {
    margin: 0;
    align-items: center;
  }

  /* ----------- Updates ----------- */   

  .card-3{
    margin-bottom: 2.15rem;
  }

  /* ----------- Footer ----------- */   
  .copyright {
    margin: 0 6rem 0 6rem;
  }
}
